
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
    color: blue;
    text-align: center;
}

nav a{
    
    display: inline-block;
    color: white;
    margin: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 100%;
}

.grid div {
    background-color: lightblue;
    border: 2px solid black;
}

a {
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #f0f0f0;
}


.active {
    background-color: hsl(211, 32%, 21%);
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 5px;
}


.skip {
    position: absolute;
    left: -9999px;
}

.skip:focus {
    left: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: static;
    display: inline;
    outline: 2px solid #000;
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}


#theme-switcher {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

img {
    width: 75%;
}


@media screen and (min-width: 600px) {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header li {
        display: inline-block;
        margin: 0 10px;
    }

    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
    }

}

@media screen and (min-width:1024px)
{
    .grid {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}


#popupButton {
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

#popupButton:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}




